# Gradle build output & cache
.gradle/
build/
bin/
out/

# IDE files
.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.classpath
.project
.factorypath
.springBeans
.sts4-cache
.apt_generated

# Operating System files
.DS_Store
Thumbs.db
desktop.ini

# Logs & temp files
*.log
*.tmp

